@import '../../styles/styles.module.scss';

.wrapper {
  position: fixed;
  color: $colorPrimary;
  background-color: black;
  font-size: 24px;
  bottom: 30px;
  padding: 4px 2px 4px 10px;
  font-size: 1.2rem;
  letter-spacing: 2px;
  max-width: 80%;

  -webkit-user-select: none;
  user-select: none;
}
