@import '../../../styles/styles.module.scss';

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: $colorPrimary;
  width: clamp(42%, 500px, 70%);
  height: clamp(40%, 500px, 50%);
  margin: auto;
  padding-top: 8px;
  border-radius: 12px;
  border-radius: $borderRadiusMedium;
  z-index: 3;
  overflow: hidden;

  .exitButton {
    position: absolute;
    right: 8px;
    top: 8px;
    padding: 3px;
    border-radius: 50px;
    background-color: #fff;
    transition: 0.3s;
    height: 18px;
    width: 18px;
    cursor: pointer;

    &:hover {
      background-color: #eee;
    }
  }

  .title {
    margin: 0;
    text-align: left;
    padding-left: 2rem;
    border-bottom: 1px solid #ddd;
    width: 100%;
  }

  .content {
    padding-left: 2rem;
    overflow-y: scroll;
    overflow-x: hidden;

    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: white;
    }

    &::-webkit-scrollbar {
      width: 17px;
      margin: 2px 0;
    }

    &::-webkit-scrollbar-thumb {
      border: 5px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 20px;
      background-color: #BBB;
    }
  }
}
