@import '../../styles/styles.module.scss';

.modal {
    background-color: $colorPrimary;
    border-radius: $borderRadiusMedium;
    z-index: 2;
}

.backdrop {
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.2;
}