@import '../../../../styles/styles.module.scss';

.wrapper {
  width: 92%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 8px 0;

  .title {
    display: flex;
    align-items: center;
    padding: 0 2px 2px 2px;
    background-color: $colorPrimary;
    cursor: pointer;

    .arrow {
      height: 12px;
      margin-right: 8px;
    }
    .name {
      margin: 0 12px 0 0;
      white-space: nowrap;
    }
  }

  .description {
    text-align: start;
    color: $colorSecondary;
    margin: 0;
  }
}
